<template name="welcome">
	
	<section class="welcome">
		Welcome	{{name}}, to my site!<br><br>

		
	
		{{#each devices}}
			{{device}} is {{status}} with id {{_id}}<br>
		{{/each}}

		<input type="text" class="new-device" placeholder="Device">
		<input type="text" class="new-status" placeholder="Status">
		<button class="submit-button">Submit</button>

	</section>


</template>